@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
code,
pre {
  background: transparent;
  font-family: "Fira Code", monospace;
}

.p-h1 {
  font-size: 35px;
}
.p-h2 {
  font-size: 30px;
}
.p-h3 {
  font-size: 25px;
}
.p-bold {
  font-weight: bold;
}
.p-italic {
  font-style: italic;
}
.p-code {
  font-family: menlo, monaco, consolas, "Lucida Console", monospace;
  font-size: 0.95em;
  color: #635d6f;
  background-color: rgba(150, 144, 162, 0.08);
  padding: 3px 6px;
  word-break: normal;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.p-linethrough {
  text-decoration: line-through;
}
.p-underline {
  text-decoration: underline;
}
.p-a-link {
  color: red;
}

.p-li-list {
  margin-top: 1rem;
}

@keyframes rotate2 {
  0% {
    transform: rotate(360deg);
    transform: translate(104%, 12%);
  }

  100% {
    transform: rotate(0deg);
    transform: translate(0%, 0%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    transform: translate(0%, 0%);
  }

  100% {
    transform: rotate(360deg);
    transform: translate(54%, 12%);
  }
}

.gradient {
  position: absolute;
  --size: 300px;
  --speed: 5s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(100px);

  background-image: linear-gradient(
    rgba(65, 189, 238, 0.85),
    rgb(100, 165, 226)
  );
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  top: 9rem;
  right: 9rem;
}

.gradient2 {
  position: absolute;
  --size: 300px;
  --speed: 5s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(100px);
  background-image: linear-gradient(rgba(39, 118, 209, 0.85), rgb(207, 70, 60));
  animation: rotate2 var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
body {
  position: relative;
}

@media (max-width: 720px) {
  .gradient {
    --size: 200px;
  }
  .gradient2 {
    --size: 200px;
  }
}

.section {
  margin: 0;
  position: relative;
  display: flex;
  justify-content: center;
  transform: scale(1.3) translateY(-4em);
  background-size: contain;
}
@media (max-width: 700px) {
  .section {
    transform: scale(1.2) translateY(-4em);
  }
}
@media (max-width: 600px) {
  .section {
    transform: scale(1.1) translateY(-4em);
  }
}
@media (max-width: 500px) {
  .section {
    transform: scale(1.05) translateY(-4em);
  }
}
@media (max-width: 400px) {
  .section {
    transform: scale(1) translateY(-4em);
  }
}
.svg {
  height: 500px;
  width: auto;
}

/* ---------------------------------------------------
hero Svg starts here
--------------------------------------------------- */
.hero-svg .code {
  animation: hero1 10s forwards linear infinite;
  transform-origin: 80% 40%;
}

@keyframes hero1 {
  0% {
    transform: rotate(30deg);
    opacity: 0;
  }
  25% {
    transform: rotate(-15deg);
    opacity: 1;
  }
  50% {
    transform: rotate(-60deg);
    opacity: 0;
  }
  75% {
    transform: rotate(-15deg);
    opacity: 1;
  }
  100% {
    transform: rotate(30deg);
    opacity: 0;
  }
}

.hero-svg .git {
  animation: hero2 5s forwards linear infinite;
}

@keyframes hero2 {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.hero-svg .notes {
  animation: hero3 5s forwards linear infinite;
}

@keyframes hero3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.hero-svg .discord .tab {
  animation: hero4 3s forwards linear infinite;
}

@keyframes hero4 {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}

.hero-svg .discord .one {
  animation-delay: 0s;
}

.hero-svg .discord .two {
  animation-delay: 0.5s;
}

.hero-svg .discord .three {
  animation-delay: 1s;
}

.hero-svg .gitlab {
  animation: hero5 2s forwards linear infinite;
}
@keyframes hero5 {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* ---------------------------------------------------
git Svg starts here
--------------------------------------------------- */
.git-svg .box .screen {
  fill: #3d0576;
  animation: screen 2s forwards linear infinite;
}
@keyframes screen {
  0% {
    fill: #3d0576;
  }
  50% {
    fill: #00000036;
  }
  100% {
    fill: #3d0576;
  }
}

.git-svg:hover .path {
  stroke-dashoffset: 100;
  stroke-dasharray: 5;
  animation: transfer 5s forwards linear infinite;
}

@keyframes transfer {
  0% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.git-svg:hover .main {
  animation: main 5s forwards linear infinite;
  transform-origin: 30% 60%;
}
@keyframes main {
  0% {
    transform: scale(1) translateY(0px);
  }
  25% {
    transform: scale(0.8) translateY(10px);
  }
  50% {
    transform: scale(1) translateY(0px);
  }
  75% {
    transform: scale(0.8) translateY(10px);
  }
  100% {
    transform: scale(1) translateY(0px);
  }
}

/* ---------------------------------------------------
Avalance Svg starts here
--------------------------------------------------- */

.avalanche-svg:hover .path1 {
  stroke-dashoffset: 100;
  stroke-dasharray: 5;
  animation: transfer 5s forwards linear infinite;
}

.rocket {
  animation: float 5s forwards ease infinite;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.dot,
.dots {
  animation: blink 2s forwards ease infinite;
}
.dots {
  animation-delay: 1s;
}

.first {
  animation-delay: 1s;
}
.second {
  animation-delay: 0.75s;
}
.fourth {
  animation-delay: 1.23s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.avalanche-svg:hover .avalanche {
  animation: float 5s forwards linear infinite;
}
.avalanche-svg .rings .top,
.avalanche-svg .rings .middle,
.avalanche-svg .rings .bottom {
  opacity: 0;
}
.avalanche-svg:hover .rings .top {
  animation: bounce1 2s forwards ease-in-out infinite;
}
.avalanche-svg:hover .rings .middle {
  animation: bounce1 2s forwards ease-in-out infinite;
  animation-delay: 0.6s;
}

.avalanche-svg:hover .rings .bottom {
  animation: bounce1 2s forwards ease-in-out infinite;
  animation-delay: 1.2s;
}
@keyframes bounce1 {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0;
  }
  51% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

/* ---------------------------------------------------
token svg start here
--------------------------------------------------- */

.token-svg:hover .path {
  stroke-dashoffset: 100;
  stroke-dasharray: 5;
  animation: transfer 5s forwards linear infinite;
}

.token-svg .cloud {
  animation: float 5s forwards ease-in-out infinite;
}
.token-svg .top-base {
  animation: float1 5s forwards ease-in-out infinite;
  animation-delay: 1s;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes float1 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

.token-svg:hover .screen {
  animation: screen 2s forwards linear infinite;
}

@keyframes screen {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.2;
  }
}

.token-svg.token {
  animation: float 5s forwards ease-in-out infinite;
}

/* blur home*/
.background {
  overflow: hidden;
  width: 100vw;
  height: 150vh;
  max-width: 100vw;
}

.dark-scheme .background {
  background: rgba(20, 13, 34, 0.08);
}
.light-scheme .background {
  background: transparent !important;
}

.background-grid {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.dark-scheme .background-grid li {
  border-right: 1px solid rgba(99, 134, 172, 0.06);
  margin: 0;
  padding: 0;
  width: 16.66%;

  list-style: none;
}
.light-scheme .background-grid li {
  margin: 0;
  padding: 0;
  border-right: 1px solid rgb(21 56 92 / 0.06);
  width: 16.66%;
  list-style: none;
}
.background-blurs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  perspective: 800px;
}
.background-blurs > [class*="blur"] {
  animation: rotate 30s linear infinite;
  transform-origin: top left;
  perspective: 800px;
}
.background-blurs > [class="blur-2"] {
  animation: rotate-backwards 30s linear infinite;
}
.background-blurs > [class="blur-2"] > span {
  width: 800px !important;
  height: 800px !important;
}
.background-blurs > [class="blur-3"] > span {
  width: 700px !important;
  height: 700px !important;
}
.background-blurs > [class*="blur"] > span {
  display: block;
  width: 500px;
  background: url(https://envoria.com/img/blurry.png);
  border-radius: 100%;
  height: 500px;
  background-size: cover;
  margin-left: -125px;
  margin-top: -125px;
}
.dark-scheme .background-blurs > [class*="blur"]::before {
  content: " ";
  display: block;
  width: 200px;
  height: 200px;
  background: rgba(39, 39, 39, 0.2);
  animation: bob 60s ease-in-out infinite;
  position: absolute;
  z-index: 2;
  margin: -100px 0 0 -100px;
  border-radius: 100%;

  animation-delay: 6s !important;

  animation: blur1 10s ease infinite;
}
.light-scheme .background-blurs > [class*="blur"]::before {
  content: " ";
  display: block;
  width: 200px;
  height: 200px;
  background: rgb(255 255 255 / 20%);
  animation: bob 60s ease-in-out infinite;
  position: absolute;
  z-index: 2;
  margin: -100px 0 0 -100px;
  border-radius: 100%;
  animation-delay: 6s !important;

  animation: blur2 10s ease infinite;
}

.blur-1 {
  position: absolute;
  left: 23%;
  top: 20%;
  width: 0px;
  height: 0px;
}
.blur-2 {
  position: absolute;
  right: 20%;
  top: 30%;
  width: 0px;
  height: 0px;
  animation-delay: 1s !important;
}
.blur-2::before {
  display: none !important;
}
.blur-3 {
  position: absolute;
  right: 35%;
  top: 63%;
  width: 0px;
  height: 0px;
  animation-delay: 6s !important;
}

.blur-1 > span {
  animation: blur1 10s ease infinite;
}
.blur-2 > span {
  animation: blur2 10s ease infinite;
}
.blur-3 > span {
  animation: blur3 10s ease infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-backwards {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes bob {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(-8em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(2em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-8em);
  }
}
@keyframes blur1 {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(15em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-15em);
  }
  100% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
}
@keyframes blur1 {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(15em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-15em);
  }
  100% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
}
@keyframes blur1 {
  0% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
  33.33% {
    transform: translateX(0em) translateY(0em) translateZ(15em);
  }
  66.66% {
    transform: translateX(0em) translateY(0em) translateZ(-15em);
  }
  100% {
    transform: translateX(0em) translateY(0em) translateZ(0em);
  }
}

@media screen and (max-width: 860px) {
  .background-grid {
  }
  .background-grid li {
    width: 25%;
  }
  .background-grid li:nth-child(odd) {
    display: none;
  }
}

.custom_site-content-paddings {
  padding: 4em;
  
}

@media screen and (max-width: 1180px) {
  .custom_site-content-paddings {
    padding: 0em;
  }
}

/* item floates */

.list-tecnologies {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .list-tecnologies {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .list-tecnologies {
    grid-template-columns: repeat(4, 1fr);
  }
}

.list-tecnologies img {
  object-fit: contain;
}

.ribbon {
  position: relative;
}

.ribbon .blog-item::before {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;
  box-sizing: border-box;
  content: "¡Nuevo!";
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background: transparent;
  height: 0;
  width: 150px;
  border: 25px solid purple;
  border: 25px solid yellow;
  border-bottom: 25px solid purple;
  line-height: 23px;
  border: 25px solid transparent;
  border-bottom: 25px solid purple;
  line-height: 23px;
  transform: rotate(45deg) translateX(146px) translateY(-135px);
  box-shadow: 0px 3px 5px -3px #000;
  z-index: 2;
}


